.main{
	display: grid;
	background-color: var(--sacramentGreen);
	padding: 8rem 2.4rem;
	position: relative;
	overflow: hidden;

	&::before{
		position: absolute;
		background-image: url('/assets/bg-before-main-home.svg');
		background-repeat: no-repeat;
		content: '';
		width: 20rem;
		height: 24.4rem;
		top: 0;
		right: -10rem;
	}

	@media (width >= 600px){
		padding: 12rem 4rem;
	}

	@media (width >= 1024px){
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3.2rem;
		padding: 12rem 10rem;

		&::before{
			top: auto;
			bottom: -7rem;
		}

	}

}

.subtitle-main{
	color: var(--colorWhite);
	font-size: 3.2rem;
	line-height: 1.1;
	width: 65%;
	margin-bottom: 6rem;

	@media (width >= 1024px){
		width: 90%;
		font-size: 4.8rem;
		margin-bottom: 0;
	}

}

.list-benefits{
	display: grid;
	row-gap: 4.8rem;

	@media (width >= 600px){
		row-gap: 3.2rem;
	}
	
	@media (width >= 600px){
		row-gap: 3.6rem;
	}

}