.section-clients-about{
	background-color: var(--sacramentGreen);
	overflow: hidden;
	position: relative;
	padding: 10rem 2.4rem;

	&::before{
		content: '';
		position: absolute;
		background-image: url('/assets/bg-pattern-home-3.svg');
		background-repeat: no-repeat;
		width: 20rem;
		height: 25rem;
		top: -15rem;
		left: -10rem;
	}

	@media (width >= 600px){
		padding: 13rem 10rem;
	}

	@media (width >= 1024px){
		padding: 13rem 10rem;

		&::before{
			top: 0;
			left: 0;
		}
	}

}

.section-clients__title{
	color: var(--colorWhite);
	font-size: 3.2rem;
	position: relative;
	text-align: center;
	margin-bottom: 6.4rem;

	@media (width >= 1024px){
		font-size: 4.8rem;
	}

}

.container-grid-clients{
	display: grid;
	row-gap: 4.2rem;
	justify-items: center;

	@media(width >= 600px){
		grid-template-columns: repeat(5, minmax(min-content, 20rem));
		align-items: center;
		column-gap: 1.6rem;
		row-gap: 0;
	}

	@media (width >= 1200px){
		justify-content: center;
	}

}

.client-logo-image{
	width: 45%;
	max-width: 100%;
	height: auto;
	max-height: 5rem;
	margin-bottom: 0;

	@media (width >= 600px){
		width: 90%;
		height: auto;
	}

	@media (width >= 1024px){
		width: 75%;
		min-height: 2.4rem;
	}

}