.container-main-hamburguer{
	width: 2.2rem;
	height: 2rem;
	background-position: center center;
	background: linear-gradient(var(--colorWhite) 20%, transparent 20%, transparent 40%, var(--colorWhite) 40%, var(--colorWhite) 60%, transparent 60%, transparent 80%, var(--colorWhite) 80%);
	background-repeat: no-repeat;
	transition: all .5s;
	position: relative;
	z-index: 100;

	@media (width >= 600px){
		display: none;
	}

}

/* Agregando la X al dar clic en el menú hamburguesa */
.container-main-hamburguer--new{
	width: 2rem;
	height: 1.6rem;
	background-image: url('/assets/icon-close.svg');
	transform: scale(1.6);
	transition: all .5s;
}