.main-nav-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2C6269;
	position: absolute;
	top: 0;
	right: -70vw;
	width: 70vw;
	height: 100vh;
	opacity: 0;
	padding-top: 18rem;
	z-index: 100;
	transition: all .4s;

	&::before{
		content: '';
		position: absolute;
		width: 20rem;
		height: 20rem;
		background-image: url('/assets/bg-hero-about-before.svg');
		background-repeat: no-repeat;
		top: 65%;
		right: -10rem;
	}

	@media (width >= 600px){

		&::before{
			display: none;
			opacity: 0;
		}

		background-color: transparent;
		flex-direction: row;
		align-items: center;
		height: auto;
		justify-content: space-around;
		left: auto;
		opacity: 1;
		padding-top: 0;
		position: relative;
		right: 0;
		top: auto;
		width: 65%;
	}

}

.showNav{
	top: 0;
	opacity: 1;
	width: 70vw;
	right: 0;
	transition: all .4s;
}

.main-nav-header__list{
	list-style: none;
	height: 4rem;

	@media (width >= 600px){
		display: flex;
		align-items: center;
	}

}

.link-header{
	display: block;
	color: var(--colorWhite);
	font-size: 1.8rem;
	font-weight: 600;
	text-decoration: none;
	margin-right: 0;
	margin-bottom: 2.4rem;

	@media (width >= 600px){
		margin-right: 3.6rem;
		margin-bottom: 0;
	}

}
