*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--lightGreen: #014E56;
	--darkGreen: #002529;
	--sacramentGreen: #012F34;
	--redLigth: #F67E7E;
	--colorWhite: #fff;
}

html{
	font-size: 10px;
	font-family: 'Livvic', sans-serif;
}

body{
	min-height: 100vh;
}

.container{
	max-width: 140rem;
	margin: auto;
}

/* Estilos para tipografías generales */
h1{
	color: var(--colorWhite);
	font-size: 4rem;
	font-weight: 700;

	@media (width >= 600px){
		font-size: 6.4rem;
	}

	@media (width >= 1024px){
		font-size: 9rem;
	}

}

p{
	color: var(--colorWhite);
	font-size: 1.5rem;
	line-height: 1.6;
}

