.container-hero-about{
	background-color: var(--lightGreen);
	display: grid;
	overflow: hidden;
	position: relative;
	padding: 7rem 2.4rem;
	padding-bottom: 16rem;
	overflow: hidden;

	&::before{
		position: absolute;
		background-image: url('/assets/bg-hero-about-before.svg');
		background-repeat: no-repeat;
		content: '';
		width: 20rem;
		height: 20rem;
		bottom: -10rem;
		right: -10rem;
	}

	@media (width >= 600px){
		padding: 10rem 4rem;
		padding-bottom: 17rem;
	}

	@media (width >= 1024px){
		grid-template-columns: .5fr .9fr;
		column-gap: 3.2rem;
		padding: 9rem;
		padding-bottom: 16rem;
	}
}

.title-about{
	color: var(--colorWhite);
	font-size: 4rem;
	font-weight: 700;

	@media (width >= 600px){
		font-size: 6.4rem;
	}

}

.paragraph-about{
	text-align: center;

	@media (width >= 1024px){
		text-align: start;
	}

}